<h1>Log in</h1>
<body>
<form action="/form" method="post">
	<label>
		<label for= "text">Title</label>
		<input type= "text" name= "title">
		<label for= "text">Text</label>
		<input type= "text" name= "text">
		<button type="submit">Enter</button>


</form>
</body>